<div class="row">
  <h2>The Value of Money</h2>
  <div class="left">
    <img src="img/piggy-bank.png" alt="Benefit of saving" />
    <h2>Benefit of saving</h2>
  </div>
  <div class="right">
    <p>
      The time value of money is the greater benefit of receiving money now rather than an identical sum later.
      It is founded on time preference. The time value of money explains why interest is paid or earned: 
      interest, whether it is on a bank deposit or debt, compensates the depositor or lender for the time value
      of money.It also underlies investment. Investors are willing to forgo spending their money now only if they
      expect a favorable return on their investment in the future, such that the increased value to be available
      later is sufficiently high to offset the preference to have money now; see required rate of return. 
    
    </p>
  </div>
  <div class="right1">
    <p>
      Present value (PV) is the current value of a future sum of money or stream of cash flows given a specified
      rate of return. Future cash flows are discounted at the discount rate, and the higher the discount rate,
      the lower the present value of the future cash flows.
    </p>
  </div>
  <div class="right1">
    <p>
      Present value is the concept that states an amount of money today is worth more than that same amount in the
      future. In other words, money received in the future is not worth as much as an equal amount received today.
    </p>
  </div>
</div>
<div class="clear"></div>
<hr />

<div class="row">
  <h2>GMO FOOD</h2>
  <div class="left">
    <img src="img/gmo.png" alt="How it affect's health" />
    <h2>How it affect's health</h2>
  </div>
  <div class="right">
    <p>
      A genetically-modified (GM) food is a food that comes from an organism (plant, animal or microorganism) that has
      had 1 or more of its traits changed on purpose. Organisms can be modified by different processes, including: traditional
      breeding techniques, like cross-breeding modern biotechnology techniques, such as genetic engineering.
      
    </p>
  </div>
  <div class="right1">
    <p>
      Genetic modification has been used to produce crops that are better at: resisting disease, resisting pests that destroy crops,
      tolerating the herbicides used to kill weeds, delaying the ripening process to allow them to be transported long distances
      surviving drought conditions where water is scarce.
    </p>
  </div>
  <div class="right1">
    <p>
      The next generation of GM foods may have direct benefits for consumers, such as: better taste, improved nutrition.
        The majority of GM foods approved for sale in Canada are from plants, along with a few produced using GM microorganisms. 
    </p>
  </div>
</div>
<div class="clear"></div>
<hr />

<div class="row">
  <h2>The View of World in 2020</h2>
  <div class="left">
    <img src="img/future.png" alt="What future holds" />
    <h2>What future holds</h2>
  </div>
  <div class="right">
    <p>
     The world is expected to add another billion people within the next 15 years, bringing the total global population from
     7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates
     from the UN. Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe,
     9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the
     largest countries in the world, together making up almost 40 percent of the world population.
    </p>
  </div>
  <div class="right1">
    <p>
      The world population is growing at a gradually slower and slower pace, but it's still growing substantially. Currently,
      the world adds about 83 million people per year, equivalent to roughly the population of Germany. But population growth
      has slowed to 1.18 percent per year from 1.24 percent a decade ago. The UN expects population growth to continue to 
      gradually level off. Global population is almost sure to rise in the short term but the UN says there is a 1 in 4 
      chance that the world population will stabilize or fall before 2100.
    </p>
  </div>
  <div class="right1">
    <p>
     Scientists predict that in the future, computers will not only match the computational speed of the human brain, we'll
     also develop artificial intelligence that can speak, interact, listen, and remember. Let's just hope they don't use all
     that information to turn against us. And as computers grow progressively more human, so too will humans become more 
     integrated with robots.
      
    </p>
  </div>
</div>
