<div class="head"><h1>Portfolio</h1></div>
<div class="portfolio-row">
  <figure>
    <img src="img/Prtfolio1.png" alt="Project 1" />
    <figcaption>Project 1</figcaption>
  </figure>
  <figure>
    <img src="img/Prtfolio2.png" alt="Project 2" />
    <figcaption>Project 2</figcaption>
  </figure>
  <figure>
    <img src="img/Prtfolio3.png" alt="Project 3" />
    <figcaption>Project 3</figcaption>
  </figure>
  <figure>
    <img src="img/Prtfolio4.png" alt="Project 4" />
    <figcaption>Project 4</figcaption>
  </figure>
  <figure>
    <img src="img/Prtfolio5.png" alt="Project 5" />
    <figcaption>Project 5</figcaption>
  </figure>
  <figure>
    <img src="img/Prtfolio6.png" alt="Project 6" />
    <figcaption>Project 6</figcaption>
  </figure>
</div>
